html,body {
    margin: 0;
    padding: 0;
}
#tabSearchResults,
#tabPrepareResults,
#generateReportButtonContainer,
#searchIcon,
.addDistrictButtonContainer,
.removeDistrictButtonContainer,
.geolocateButtonContainer {
    cursor: pointer;
}
#districtSelection {
    position: absolute;
    display: block;
    height: 484.5937345px;
    width: 1000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid lightgrey;
}
#appOverlayContainer {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.95);
    z-index: 10;
}
#appOverlayText {
    position: absolute;
    display: block;
    width: 100%;
    height: 70px;
    top: 0;
    bottom: 0;
    margin: auto;
    top: -100px;
    text-align: center;
    font-size: 30px;
    color: white;
    cursor: default;

}

#spacePlanet1BodyContainer {
	overflow: hidden;
}

#spacePlanet1Container {
	position: absolute;
	width: 100px;
	height: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    top: 100px;
	z-index: 3;
}

#spacePlanet1BG {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-color: #00c4fa;
	box-shadow: 0px 0px 40px 20px rgba(0, 225, 255, 0.25);
}

#spacePlanet1BodyContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	clip-path: circle(50px at center);
}

#spacePlanet1Penumbra {
	position: absolute;
	width: 110%;
	height: 110%;
	top: 5%;
	left: 10%;
	border-radius: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 2;
}


.spacePlanet1Gas {
	position: absolute;
	height: 100%;
	width: 1000px;
	background-image: url(../../img/wave1.png);
	background-repeat: repeat-x;
	z-index: 1;
    background-size: contain;
}

.spacePlanet1Gas:nth-child(1) {
	top: 0%;
	animation: left-170To-2d8p 8s infinite linear;
}

.spacePlanet1Gas:nth-child(2) {
	top: 50%;
	animation: left-170To-2d8p 10s infinite linear;
}


#spacePlanet1Land {
	position: absolute;
	height: 100%;
	width: 1000px;
	top: 0%;
	animation: left-170To-2d8p 15s infinite linear;
	background-image: url(../../img/continents_green.png);
	background-repeat: repeat-x;
    background-size: contain;
}

#searchContainer {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 306px;
    float: left;
    margin-right: 10px;
}
#searchFieldContainer,
#tabContainer,
#resultWrapper,
#prepareWrapper {
    margin-left: 10px;
}
#searchFieldContainer {
    width: calc(100% - 10px);
}

#searchFieldContainer {
    position: relative;
    display: block;
    height: 30px;
    padding-top: 10px;
}
#searchIcon {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-top: 7px;
    right: 0;
    background-image: url(../../img/search.png);
    z-index: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0%) opacity(0.5);
}
#searchIcon:hover {
    filter: brightness(110%);
}
#searchField {
    position: relative;
    display: block;
    height: 100%;
    width: calc(100% - 60px);
    padding-left: 20px;
    padding-right: 40px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
}
input:focus {
    outline: none;
}

#tabContainer {
    position: relative;
    display: block;
    height: 30px;
    width: 100%;
    padding-top: 10px;
}
.tab {
    position: relative;
    display: inline-block;
    width: calc(50% - 20px);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 25px 25px 0  0;
    border: 1px solid lightgrey;
    border-bottom: 0px solid rgba(0,0,0,0);
}
#tabSearchResults {
    float: left;
}
#tabPrepareResults {
    float: left;
    margin-left: 10px;
    background-color: #F3F3F3;
    opacity: 0.45;
}
#resultWrapper {
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100% - 90px);
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
#prepareWrapper {
    position: absolute;
    display: none;
    width: 100%;
    height: calc(100% - 90px);
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#generateReportButtonWrapper {
    position: absolute;
    display: none;
    width: calc(100% - 5px);
    height: 50px;
    bottom: 0;
    background-color: #F3F3F3;
    z-index: 1;
}
#generateReportButtonContainer {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#generateReportButtonIcon {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../../img/generateReport.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.1));
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.1));
}

#generateReportButtonContainer:hover {
    border-radius: 100%;
    background-color: lightblue;
}
#generateReportButtonContainer:hover #generateReportButtonIcon {
    filter: hue-rotate(-45deg) contrast(100%) saturate(700%) brightness(100%);
}

#generateReportButtonText {
    position: absolute;
    display: block;
    height: 20px;
    width: calc(100% - 30px);
    font-size: 17px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    text-align: center;
}


.resultContainer {
    position: relative;
    display: block;
    width: calc(100% - 10px);
    height: 125px;
    border-bottom: 1px solid lightgray;
}

.resultContainer:hover {
    background-color: #FAFAFA;
}

.resultNameContainer {
    font-size: 17px;
    margin-top: 10px;
}
.resultNameContainer:focus {
    outline: 0px solid transparent;
    background-color: #F3F3F3;
}

.lanlatContainer {
    position: absolute;
    display: block;
    height: 33px;
    width: 200px;
    font-size: 13px;
    bottom: 10px;
    left: 0px;
}
.latHeader,
.lonHeader {
    width: 60px;
}
.latHeader,
.lat,
.lonHeader,
.lon {
    display: inline-block;
}

.buttonContainer {
    position: absolute;
    display: relative;
    width: 100%;
    bottom: 10px;
    right: 0px;
    left: 0px;
    margin: auto;
}

.addDistrictButtonContainer,
.removeDistrictButtonContainer,
.geolocateButtonContainer {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    float: right;
}

.removeDistrictButtonContainer {
    display: none;
}

.addDistrictButtonContainer:hover {
    border-radius: 100%;
    background-color: lightblue;
}

.removeDistrictButtonContainer:hover {
    border-radius: 100%;
    background-color: lightblue;
}
.geolocateButtonContainer:hover {
    border-radius: 100%;
    background-color: lightblue;
}

.addDistrictButtonContainer:hover .addDistrictIcon {
    filter: hue-rotate(0deg) contrast(110%) saturate(1000%) brightness(100%);
}
.removeDistrictButtonContainer:hover .removeDistrictIcon {
    filter: hue-rotate(-150deg) contrast(100%) saturate(1000%) brightness(90%);
}
.geolocateButtonContainer:hover .geoLocateIcon {
    filter: hue-rotate(-200deg) contrast(110%) saturate(1000%) brightness(100%);
}

.addDistrictIcon,
.removeDistrictIcon,
.geoLocateIcon {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.addDistrictIcon {
    background-image: url(../../img/add.png);
}
.removeDistrictIcon {
    background-image: url(../../img/remove.png);
}
.geoLocateIcon {
    background-image: url(../../img/geolocate.png);
}

#map {
    position: relative;
    display: inline-block;
    height: 484.5937345px;
    width: 674px;
}
#lonlatDisplayWrapper {
    position: absolute;
    display: block;
    height: 30px;
    width: 275px;
    padding-left: 10px;
    border-right: 20px solid rgba(255,255,255,0);
    bottom: 10px;
    left: 10px;
    background-color: rgba(255,255,255,0.85);
    z-index: 1;
}
#lonlatDisplayContainer {
    position: absolute;
    display: block;
    width: 100%;
    height: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
#lonDisplay,
#latDisplay {
    position: relative;
    display: inline-block;
    width: 140px;
    font-size: 15px;
}
#latDisplay {
    float: left;
}
#lonDisplay {
    float: right;
}

#mapZoomDisplayContainer {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    bottom: 75px;
    right: 10px;
    background-color: rgba(255,255,255,0.85);
    z-index: 1;
}
#mapZoomDisplay {
    position: absolute;
    display: block;
    height: 10px;
    width: 100%;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 10px;
}
.ol-uncollapsible {
    display: none !important;
}

.ol-rotate {
    display: none !important;
}

.ol-zoom {
    position: absolute;
    opacity: 0.9;
    width: 30px;
    height: 60px;
    right: 10px;
    bottom: 10px;
}

.ol-zoom-in,
.ol-zoom-out {
    width: 100%;
    height: 30px;
    margin-bottom: 0px;
    background-color: rgba(250,250,250,1);
    border: none;
    color: rgba(100,100,100,1);
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 15px;
}

.ol-zoom-in {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid grey;
}
.ol-zoom-out {
    border-radius: 0 0 5px 5px;
}

.ol-zoom-in:hover,
.ol-zoom-out:hover {
    color: black;
    background-color: #FFF;
}


#zoomOutButton:hover,
#zoomInButton:hover {
    filter: brightness(110%);
}

.ol-zoom-in:active {
   font-size: 20px;
}

.ol-zoom-out:active {
   font-size: 10px; 
}
#zoomInButton:active {
    margin-bottom: 10%;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-thumb {
    background: #7ca1b2;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #536c77;
}
::-webkit-scrollbar-track{
    background: #dbf4ff;
    border-radius: 10px;
}


@keyframes left-170To-2d8p {
	0% {
		left: -200%;
		opacity: 1;
	}

	100% {
		left: 5%;
		opacity: 1;
	}
}
