html,body {
    margin: 0;
    padding: 0;
}

#districtSelection {
    position: absolute;
    display: block;
    height: 484.5937345px;
    width: 1000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid lightgrey;
}
#searchContainer {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 306px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

#searchFieldContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    padding-top: 10px;
}
#searchIcon {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-top: 7px;
    right: 0;
    background-image: url(../../img/search.png);
    z-index: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0%) opacity(0.5);
}
#searchIcon:hover {
    filter: brightness(110%);
}
#searchField {
    position: relative;
    display: block;
    height: 100%;
    width: calc(100% - 60px);
    padding-left: 20px;
    padding-right: 40px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
}
input:focus {
    outline: none;
}

#tabContainer {
    position: relative;
    display: block;
    height: 30px;
    width: 100%;
    padding-top: 10px;
}
.tab {
    position: relative;
    display: inline-block;
    width: calc(50% - 20px);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 25px 25px 0  0;
    border: 1px solid lightgrey;
    border-bottom: 0px solid rgba(0,0,0,0);
}
#tabSearchResults {
    float: left;
}
#tabPrepareResults {
    float: left;
    margin-left: 10px;
    background-color: #F3F3F3;
    opacity: 0.45;
}
#resultWrapper {
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100% - 90px);
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
#prepareWrapper {
    position: absolute;
    display: none;
    width: 100%;
    height: calc(100% - 90px);
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.resultContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid lightgray;
}

.resultNameContainer {
    font-size: 17px;
    margin-top: 10px;
}

.lanlatContainer {
    position: absolute;
    display: block;
    height: 33px;
    width: 200px;
    font-size: 13px;
    bottom: 10px;
    left: 0;
}
.latHeader,
.lonHeader {
    width: 60px;
}
.latHeader,
.lat,
.lonHeader,
.lon {
    display: inline-block;
}

.buttonContainer {
    position: absolute;
    display: relative;
    width: 100%;
    bottom: 10px;
    right: 10px;
}

.addDistrictButtonContainer,
.removeDistrictButtonContainer,
.geolocateButtonContainer {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    float: right;
}

.removeDistrictButtonContainer {
    display: none;
}

.addDistrictButtonContainer:hover {
    border-radius: 100%;
    background-color: lightblue;
}

.removeDistrictButtonContainer:hover {
    border-radius: 100%;
    background-color: lightblue;
}
.geolocateButtonContainer:hover {
    border-radius: 100%;
    background-color: lightblue;
}

.addDistrictButtonContainer:hover .addDistrictIcon {
    filter: hue-rotate(0deg) contrast(100%) saturate(1000%) brightness(90%);
}
.removeDistrictButtonContainer:hover .removeDistrictIcon {
    filter: hue-rotate(-150deg) contrast(100%) saturate(1000%) brightness(90%);
}
.geolocateButtonContainer:hover .geoLocateIcon {
    filter: hue-rotate(-200deg) contrast(100%) saturate(1000%) brightness(90%);
}

.addDistrictIcon,
.removeDistrictIcon,
.geoLocateIcon {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.addDistrictIcon {
    background-image: url(../../img/add.png);
}
.removeDistrictIcon {
    background-image: url(../../img/remove.png);
}
.geoLocateIcon {
    background-image: url(../../img/geolocate.png);
}

#map {
    position: relative;
    display: inline-block;
    height: 484.5937345px;
    width: 674px;
}
#lonlatDisplayWrapper {
    position: absolute;
    display: block;
    height: 30px;
    width: 200px;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255,255,255,0.85);
    z-index: 1;
}
#lonlatDisplayContainer {
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
#mapZoomDisplayContainer {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    bottom: 75px;
    right: 10px;
    background-color: rgba(255,255,255,0.85);
    z-index: 1;
}
#mapZoomDisplay {
    position: absolute;
    display: block;
    height: 10px;
    width: 100%;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 10px;
}
.ol-uncollapsible {
    display: none !important;
}

.ol-rotate {
    display: none !important;
}

.ol-zoom {
    position: absolute;
    opacity: 0.9;
    width: 30px;
    height: 60px;
    right: 10px;
    bottom: 10px;
}

.ol-zoom-in,
.ol-zoom-out {
    width: 100%;
    height: 30px;
    margin-bottom: 0px;
    background-color: rgba(250,250,250,1);
    border: none;
    color: rgba(100,100,100,1);
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 15px;
}

.ol-zoom-in {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid grey;
}
.ol-zoom-out {
    border-radius: 0 0 5px 5px;
}

.ol-zoom-in:hover,
.ol-zoom-out:hover {
    color: black;
    background-color: #FFF;
}


#zoomOutButton:hover,
#zoomInButton:hover {
    filter: brightness(110%);
}

.ol-zoom-in:active {
   font-size: 20px;
}

.ol-zoom-out:active {
   font-size: 10px; 
}
#zoomInButton:active {
    margin-bottom: 10%;
}